<body>
    <div class='container'>
        <div>
            <h1>{{title}}</h1>
            <br>
            {{#name}}
            <a href="{{url}}" target="_blank">{{first}} {{last}}</a> ({{age}}, <a href="/signers/{{city}}" target="_blank">{{city}}</a>)
            <br>
            {{/name}}
        </div>
    </div>
<body>
